<h1>Список мест хранения</h1>
<% provide( :title, 'Places' ) %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Place</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do | place | %>
      <tr>
        <td>
          <%= place.id %>
        </td>
        <td>
          <%= place.name %>
        </td>
        <td>
          <%= place.place %>
        </td>
        <td>
          <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?'}  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New', 'places/new' %>